# =========================
# Python
# =========================
piper_venv/
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# =========================
# ROS 2 / colcon
# =========================
**/build/
**/install/
**/log/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Temporary files
# =========================
*.log
*.tmp
.DS_Store
